<div>
    {{#each this}}
    <div class="card">
        <header class="card-header">
            <h2 class="is-size-4 has-text-weight-bold">{{title}}</h2>
        </header>
        <div class="card-content">
            <h3 class="has-text-weight-bold">{{body}}</h3>
            <p>From {{user.username}} on {{format_date createdAt}}</p>
        </div>
    </div>
    {{/each}}
</div>