<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CheapSkate Gamer</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <header id="header">
        <div id="header-left">
          <a href="/" class="back-button">
            <!-- Animation Purposes -->
                <div id="remote-center">
                    <div id="double-btn"></div>
                    <div id="double-btn-2"></div>
                    <div id="remote-left">
                        <div id="left-cir"></div>
                        <div id="vert-btn"></div>
                        <div id="horiz-btn"></div>
                    </div>
                    <div id="remote-right">
                        <div id="btn-layout-1"></div>
                        <div id="layout1-btn1"></div>
                        <div id="layout1-btn2"></div>
                        <div id="btn-layout-2"></div>
                        <div id="layout2-btn1"></div>
                        <div id="layout2-btn2"></div>
                        <div id="right-cir"></div>
                    </div>

                </div>
              </a>
        </div>
        <h1 id="header-name">CheapSkate Gamer</h1>
        <div id="header-right">
          {{#if logged_in}}
          <div id="active-user">
            {{!-- <div id="profile-pic"></div> --}}
            <h2 id="username">{{username}}</h2>
          </div>
            <button id="logout-btn">Logout</button>
          {{else}}
            <a href="/login"><button id="login-btn">Login</button></a>
          {{/if}}
        </div>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer id="footer">
      
    </footer>
  </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}


</body>

</html>

