<div id="genre-name">
    <h1 id="genre-title">Based on the genre you picked:</h1>
</div>

<ul id="genre-game-list">
  {{#each games}}
    <li id="official-games">{{ title }} <a href="../game/{{ id }}"><img src="{{ thumbnail }}" alt="{{ title }} thumbnail"></a></li>
  {{/each}}
</ul>


<script src="./js/homepage.js"></script>
