<div style="text-align:center">
  <div class="card">
    <header class="card-header">
      <h2>Random game suggestion</h2>
    </header>
    <div class="card-image">
      <img src="{{thumbnail}}" alt="Random Game" />
    </div>
    <div class="card-content">
      <h3>Game Title: {{title}}</h3>
      <p>{{short_description}}</p>
    </div>
  </div>
  <div>
    <h3>Search for a game to play</h3>
    <form class="title-form">
      <div class="field">
        <label class="label" for="title-search">Game name:</label>
        <div class="control">
          <input class="input" type="text" id="title-search" placeholder="Apex Legends">
          <button class="button is-primary" type="submit">Find Game</button>
        </div>
      </div>
    </form>
      <form class="genre-form">
        <div class="field">
          <label class="label" for="genre-search">Genre type:</label>
          <div class="control select">
            <select name="genre" id="genre-search">
              <option value="">---Select genre---</option>
              <option value="MMORPG">MMORPG</option>
              <option value="Shooter">Shooter</option>
              <option value="Action RPG">Action RPG</option>
              <option value="MOBA">MOBA</option>
              <option value="Anime">Anime</option>
              <option value="Battle Royal">Battle Royal</option>
              <option value="Strategy">Strategy</option>
              <option value="Fantasy">Fantasy</option>
              <option value="Sci-Fi">Sci-Fi</option>
              <option value="Card Game">Card Games</option>
              <option value="Racing">Racing</option>
              <option value="Fighting">Fighting</option>
              <option value="Social">Social</option>
              <option value="Sports">Sports</option>
            </select>
            <button type="submit">Find Games</button>
          </div>
        </div>
      </form>
  </div>
</div>

<script src="./js/homepage.js"></script>
